<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/fontawesome.js' %}" data-auto-replace-svg="nest"></script>

  <meta name="theme-color" content="#7952b3">
  <link rel="shortcut icon" href="#" />
</head>
<body>
  <div class="sticky-top">
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/static/img/logo_white.png" alt="" width="22"  class="d-inline-block align-text-top">
        GEMYARD
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">    </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              商品
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/jewelry/Merchandise/list/">查看</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" href="#">入库</a></li>
              <li><a class="dropdown-item" href="#">退库</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">订单</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">包裹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">付款</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">客户</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">合作伙伴</a>
          </li>

        </ul>
      </div>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="d-flex">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if request.session.uid %}{{ request.session.name }}{% else %}登 录{% endif %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/logout/">注销</a></li>
            <li><a class="dropdown-item" href="#">修改密码</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">密码登录</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </nav>
{% block nav-tabs %}

{% endblock %}
 </div>


  <div class="row m-3 ">
    <div class="col-10">
      <div class=" shadow p-3 mb-5 bg-body rounded">
        {% block content %} 

        {% endblock %}
      </div>
    </div>

    <div class="col-2">
      <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded">
          {% block side1 %}
          <li>1</li>
          <li>1</li>
          <li>1</li>
          <li>1</li>
          <li>1</li>
          {% endblock %}
        </div>
      </div>

    </div>

  </div>






</body>
</html>