{% extends "base.html" %}

{% block title %}成品列表{% endblock %}


{% block content %} 


<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">时间</th>
      <th scope="col">代理</th>
      <th>件数</th>
      <th scope="col">总标价</th>
      <th scope="col">总金额</th>
      <th scope="col">已付金额</th>
      <th>发货</th>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}


    <tr valign="middle">
      <th scope="row">{{record.id|upper}}</th>
      <td>{{record.created.date}}</td>
      <td>{{record.customer}}</td>
      <td>{{record.total_count_of_merchandise}}</td>
      <td>{{record.total_price}}</td>
      <td>{{record.total_value}}</td>
      <td>{{record.total_pays}}</td>
      
      <td>
      {% if record.is_shipped %}
      <i class="fas fa-check-circle" color = #198754></i>
      {% else %}
      <i class="fas fa-times-circle" color = #dc3545></i>
      {% endif %}
    </td>
    </tr>

    {% endfor %}
  </tbody>
</table>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if records.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ records.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="True" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}

    {% if records.number|add:'-4' > 1 %}
    <li class="page-item"><a class="page-link" href="?page={{ records.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in records.paginator.page_range %}
    {% if records.number == i %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        {{ i }}
        <span class="sr-only">(current)</span>
      </span>
    </li>
    {% elif i > records.number|add:'-5' and i < records.number|add:'5' %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if records.paginator.num_pages > records.number|add:'4' %}
    <li class="page-item"><a class="page-link" href="?page={{ records.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if records.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ records.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="True" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>


{% endblock %}

{% block side1%}

<form method="get">

       {{ filter.form.as_p }}


      <div class="d-grid gap-2 col-8 mx-auto">
        <div class="btn-group" role="group">
          <a href="{{ request.path }}">
          <button type="button" class="btn btn-outline-primary btn-sm" >重置</button>
          </a>
          <input class="btn btn-primary btn-sm" type="submit" value="过滤" />
        </div>
      </div>
</form>


{%endblock%}

