{% extends "base.html" %}
{% block title %}商品列表{% endblock %}

{% block content %} 

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">缩略图</th>
      <th scope="col">#</th>
      <th scope="col">描述</th>
      <th scope="col">位置</th>
      <th scope="col">价格类别</th>
      <th scope="col">价格</th>
    </tr>
  </thead>
  <tbody>
    {% for merchandise in merchandises %}


    <tr valign="middle">
      <td>
        <img class="img-thumbnail rounded shadow" src='{{merchandise.img.url}}' width="70" serialId={{merchandise.serialId|upper}} description={{merchandise.description|truncatewords:"20"}}>
      </td>
      <th scope="row">{{merchandise.serialId|upper}}</th>
      <td>{{merchandise.description|truncatewords:"20"}}</td>
      <td>{{merchandise.depot}}</td>
      <td>{{merchandise.price_category}}</td>
      <td>{{merchandise.price}}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if merchandises.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ merchandises.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="True" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}

    {% if merchandises.number|add:'-4' > 1 %}
    <li class="page-item"><a class="page-link" href="?page={{ merchandises.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in merchandises.paginator.page_range %}
    {% if merchandises.number == i %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        {{ i }}
        <span class="sr-only">(current)</span>
      </span>
    </li>
    {% elif i > merchandises.number|add:'-5' and i < merchandises.number|add:'5' %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if merchandises.paginator.num_pages > merchandises.number|add:'4' %}
    <li class="page-item"><a class="page-link" href="?page={{ merchandises.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if merchandises.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ merchandises.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="True" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>








{% endblock %}

{% block side1%}
<p><i class='fas fa-tag'></i>  全部</p>
<p><i class='fas fa-crown'></i>  成品</p>
<p><i class='fas fa-link'></i>  配件</p>
<p><i class='fas fa-circle'></i>  珍珠</p>
<p><i class ='fas fa-gem'></i>  钻石</p>
<p><i class ='fas fa-atom'></i>  彩宝</p>
{%endblock%}

 {% block side2 %}
<li>成品</li>
<li>裸珠</li>
<li>空托</li>
<li>配件</li>
<li>线上实价</li>
<li>线上实价A</li>
 {% endblock %}