{% extends "base.html" %}
{% load static %}

{% block title %}订单{% endblock %}



{% block content %} 

<form id = "order_form" method="post">{% csrf_token %}

    {{ form.as_p }}

    <div>商品清单</div>
    <div class="merchandise-record-forms">
          {% for merchandise in merchandises.forms %}
          <div class="merchandise-record-form">
          {% if merchandise.instance.pk %}{{ merchandise.DELETE }}{% endif %}
            {{ merchandise.merchandise }} {{merchandise.price}} {{ merchandise.package }}{{ merchandise.comments }}
          </div>
          {% endfor %}
        </div>

      {{ merchandises.management_form }}
      <p>

      <div>销售分成</div>
        <div class="sales-share-forms">
          {% for share in sales_share.forms %}
          <div class="sales-share-form">
          {% if share.instance.pk %}{{ share.DELETE }}{% endif %}
            {{ share.employee }} {{ share.share }}
          </div>
          {% endfor %}
        </div>

      {{ sales_share.management_form }}
      <p>
        <div>付款记录</div>
        <div class="record-pays-forms">
          {% for record_pay in record_pays.forms %}
          <div class="record-pays-form">
          {% if record_pay.instance.pk %}{{ record_pay.DELETE }}{% endif %}
            {{ record_pay.pay }} {{ record_pay.value }}
          </div>
          {% endfor %}
        </div>

      {{ record_pays.management_form }}
      <p>

    <input type="submit" value="确定">
</form>


<script>
  $(".img-thumbnail").click(
    function() {
      $('.imagepreview').attr('src', $(this).attr('src'));
      $('#imagepreview_detail').html($(this).attr('serialId')+"<br>"+$(this).attr('description'))
      $('#imagemodal').modal('show'); 
    }
    )

$(function() {
        $('.merchandise-record-forms').formset({
            prefix: '{{ merchandises.prefix }}'
        });

        $('.sales-share-forms').formset({
            prefix: '{{ sales_share.prefix }}'
        });

        $('.record-pays-forms').formset({
            prefix: '{{ record_pays.prefix }}'
        });
    })


  </script>


  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" data-dismiss="modal">
      <div class="modal-content"  >              
        <div class="modal-body">
         <img src="" class="imagepreview" style="width: 100%;" >
       </div> 
       <div class="modal-footer">
         <div class="col-xs-12">
           <p class="text-left" id="imagepreview_detail" align="right">1. line of description<br>2. line of description <br>3. line of description</p>
         </div>
       </div>         
     </div>
   </div>
 </div>

 <script src="{% static 'dynamic_formsets/jquery.formset.js' %}" type="text/javascript"> </script>

{% endblock %}

{% block side1%}



{%endblock%}

