{% extends "base.html" %}

{% block title %}成品列表{% endblock %}

{% block nav-tabs %}
 <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'merchandise_list' %}">所有</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'jewel_list' %}">成品</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accessory_list' %}">配件</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'pearl_list' %}">裸珠</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'diamond_list' %}">钻石</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'colored_gem_list' %}">彩宝</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'other_list' %}">其它</a>
    </li>

  </ul>
{% endblock %}

{% block content %} 

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
</form>

<script>
  $(".img-thumbnail").click(
    function() {
      $('.imagepreview').attr('src', $(this).attr('src'));
      $('#imagepreview_detail').html($(this).attr('serialId')+"<br>"+$(this).attr('description'))
      $('#imagemodal').modal('show'); 
    }
    )

  </script>

  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" data-dismiss="modal">
      <div class="modal-content"  >              
        <div class="modal-body">
         <img src="" class="imagepreview" style="width: 100%;" >
       </div> 
       <div class="modal-footer">
         <div class="col-xs-12">
           <p class="text-left" id="imagepreview_detail" align="right">1. line of description<br>2. line of description <br>3. line of description</p>
         </div>
       </div>         
     </div>
   </div>
 </div>

{% endblock %}

{% block side1%}



{%endblock%}

