{% extends "base.html" %}

{% block title %}成品列表{% endblock %}

{% block nav-tabs %}
 <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'merchandise_list' %}">所有</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'jewel_list' %}">成品</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accessory_list' %}">配件</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'pearl_list' %}">裸珠</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'diamond_list' %}">钻石</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'colored_gem_list' %}">彩宝</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'other_list' %}">其它</a>
    </li>

  </ul>
{% endblock %}

{% block content %} 

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">商品列表</li>
  </ol>
</nav>

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">缩略图</th>
      <th scope="col">#</th>
      <th scope="col">描述</th>
      <th scope="col">长度/手寸</th>
      <th scope="col">位置</th>
      <th scope="col">类型</th>
      <th scope="col">价格类别</th>
      <th scope="col">价格</th>
    </tr>
  </thead>
  <tbody>
    {% for merchandise in merchandises %}


    <tr valign="middle">
      <td>
        <img class="img-thumbnail rounded shadow" src='{{merchandise.img.url}}' width="70" serialId={{merchandise.serialId|upper}} description={{merchandise.description|truncatewords:"20"}}>
      </td>
      <th scope="row">{{merchandise.serialId|upper}}</th>
      <td>{{merchandise.description|truncatewords:"20"}}</td>
      <td>{{merchandise.size}}</td>
      <td>{{merchandise.depot}}</td>
      <td>{{merchandise.get_jewel_type_display}}</td>
      <td>{{merchandise.price_category}}</td>
      <td>{{merchandise.price}}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% include "paginator.html" with page_obj="merchandises" %}


<script>
  $(".img-thumbnail").click(
    function() {
      $('.imagepreview').attr('src', $(this).attr('src'));
      $('#imagepreview_detail').html($(this).attr('serialId')+"<br>"+$(this).attr('description'))
      $('#imagemodal').modal('show'); 
    }
    )

  </script>

  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" data-dismiss="modal">
      <div class="modal-content"  >              
        <div class="modal-body">
         <img src="" class="imagepreview" style="width: 100%;" >
       </div> 
       <div class="modal-footer">
         <div class="col-xs-12">
           <p class="text-left" id="imagepreview_detail" align="right">1. line of description<br>2. line of description <br>3. line of description</p>
         </div>
       </div>         
     </div>
   </div>
 </div>

{% endblock %}

{% block side1%}

<form method="get">

       {{ filter.form.as_p }}


      <div class="d-grid gap-2 col-8 mx-auto">
        <div class="btn-group" role="group">
          <a href="{{ request.path }}">
          <button type="button" class="btn btn-outline-primary btn-sm" >重置</button>
          </a>
          <input class="btn btn-primary btn-sm" type="submit" value="过滤" />
        </div>
      </div>
</form>


{%endblock%}

