{% extends "base.html" %}

{% block title %}商品列表{% endblock %}
{%block media%}
<script type="text/javascript" src="/my_admin/jsi18n/"></script>
 <script type="text/javascript" src="/media/admin/js/core.js"></script>
{{ filter.form.media }}

{%endblock%}

{% block nav-tabs %}
 <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'merchandise_list' %}">所有</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'jewel_list' %}">成品</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accessory_list' %}">配件</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'pearl_list' %}">裸珠</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'diamond_list' %}">钻石</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'colored_gem_list' %}">彩宝</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'other_list' %}">其它</a>
    </li>

  </ul>
{% endblock %}

{% block content %} 


<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">缩略图</th>
      <th scope="col">#</th>
      <th scope="col">描述</th>
      <th scope="col">位置</th>
      <th scope="col">类型</th>
      <th scope="col">价格类别</th>
      <th scope="col">价格</th>
    </tr>
  </thead>
  <tbody>
    {% for merchandise in merchandises %}


    <tr valign="middle">
      <td>
        <img class="img-thumbnail rounded shadow" src='{{merchandise.img.url}}' width="70" serialId={{merchandise.serialId|upper}} description={{merchandise.description|truncatewords:"20"}}>
      </td>
      <th scope="row">{{merchandise.serialId|upper}}</th>
      <td>{{merchandise.description|truncatewords:"20"}}</td>
      <td>{{merchandise.depot}}</td>
      <td>{{merchandise.get_merchandise_type_display}}</td>
      <td>{{merchandise.price_category}}</td>
      <td>{{merchandise.price}}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% include "paginator.html" with page_obj="merchandises" %}

<script>
  $(".img-thumbnail").click(
    function() {
      $('.imagepreview').attr('src', $(this).attr('src'));
      $('#imagepreview_detail').html($(this).attr('serialId')+"<br>"+$(this).attr('description'))
      $('#imagemodal').modal('show'); 
    }
    )

  </script>

  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" data-dismiss="modal">
      <div class="modal-content">              
        <div class="modal-body">
         <img src="" class="imagepreview" style="width: 100%;" >
       </div> 
       <div class="modal-footer">
         <div class="col-xs-12">
           <p class="text-left" id="imagepreview_detail" align="right">1. line of description<br>2. line of description <br>3. line of description</p>
         </div>
       </div>         
     </div>
   </div>
 </div>

{% endblock %}

{% block side1%}

<form method="get">

       {{ filter.form.as_p }}


      <div class="d-grid gap-2 col-8 mx-auto">
        <div class="btn-group" role="group">
          <a href="{{ request.path }}">
          <button type="button" class="btn btn-outline-primary btn-sm" >重置</button>
          </a>
          <input class="btn btn-primary btn-sm" type="submit" value="过滤" />
        </div>
      </div>
</form>

<!--
<form method="get" action="">
<div class="form-check form-switch">
  <input class="form-check-input fileter_type_all" type="checkbox" role="switch" id="filter_all" checked>
  <label class="form-check-label" for="filter_all">
    <i class='fas fa-tag'></i>  全部
  </label>
</div>
<hr>
<div class="form-check form-switch">
  <input class="form-check-input fileter_type" type="checkbox" role="switch" id="filter_jewel" name="type_filter" value="1" checked>
  <label class="form-check-label" for="filter_jewel">
    <i class='fas fa-crown'></i>  成品
  </label>
</div>
<div class="form-check form-switch">
  <input class="form-check-input fileter_type" type="checkbox" role="switch" id="filter_accessory" name="type_filter" value="2" checked>
  <label class="form-check-label" for="filter_accessory">
    <i class='fas fa-link'></i>  配件
  </label>
</div>
<div class="form-check form-switch">
  <input class="form-check-input fileter_type" type="checkbox" role="switch" id="filter_pearl" name="type_filter" value="3" checked>
  <label class="form-check-label" for="filter_pearl">
    <i class='fas fa-circle'></i>  珍珠
  </label>
</div>
<div class="form-check form-switch">
  <input class="form-check-input fileter_type" type="checkbox" role="switch" id="filter_diamond" name="type_filter" value="4" checked>
  <label class="form-check-label" for="filter_diamond">
    <i class ='fas fa-gem'></i>  钻石
  </label>
</div>
<div class="form-check form-switch">
  <input class="form-check-input fileter_type" type="checkbox" role="switch" id="filter_colored_gem" name="type_filter" value="5" checked>
  <label class="form-check-label" for="filter_colored_gem">
    <i class ='fas fa-atom'></i>  彩宝
  </label>
</div>
<input type="submit" value="更新">
</form>

<script type="text/javascript">

  $('.fileter_type_all').click(
    function(){
      $('.fileter_type').prop('checked',$(this).prop('checked'))
    }
  )


</script>
-->

{%endblock%}

 {% block side2 %}

 <input type="text" name="pay_time_0" value="2022/01/25" class="vDateField" size="10" required id="id_pay_time_0"><input type="hidden" name="initial-pay_time_0" value="2022/01/25" id="initial-id_pay_time_0">

<div class="btn-group-vertical" role="group" aria-label="Basic checkbox toggle button group">
  <input type="checkbox" class="btn-check btn-sm" id="btncheck1" autocomplete="off">
  <label class="btn btn-primary" for="btncheck1">Checkbox 1</label>

  <input type="checkbox" class="btn-check btn-sm" id="btncheck2" autocomplete="off">
  <label class="btn btn-primary" for="btncheck2">Checkbox 2</label>

  <input type="checkbox" class="btn-check btn-sm" id="btncheck3" autocomplete="off">
  <label class="btn btn-primary" for="btncheck3">Checkbox 3</label>
</div>
 {% endblock %}