{% extends "base.html" %}
{% block title %}登录页面{% endblock %}
{% block content %}
<main class="form-signin">
    <form class="mt-4" action="" method="post">
        <img class="mb-4" src="/static/img/logo_white.png" alt="" width="100">
        <h1 class="h3 mb-3 fw-normal">请登录</h1>
        {% csrf_token %}
        <div class="form-floating">
            {{form.mobile}}
            <label for = 'id_mobile'>{{form.mobile.label}}</label>
        </div>
        <div class="form-floating">
            {{form.password}}
            <label>{{form.password.label}}</label>
        </div>
        <div class="d-inline-block w-100">
            <button type="submit" class="w-100 btn btn-lg btn-primary">登录</button>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2012–2022 GEMYARD</p>
    </form>

</main>
{% endblock %}

